+
/*moblie style start here*/
body{
  background: yellow;
  font-family: sans-serif;
}

h1{
  font-size: 1.75em;
}

.section{
  padding: 5% 0;
}

.center {
  margin: 0 auto;
  width: 90%;
}

body{
  background: yellow;
}

@media screen and (min-width: 420px) {
  body {
    background: green;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background: orange;
  }
}
